.statusbar_container{
    display: flex;
    width: 600px;
    overflow-x: hidden;
}
.statusbar_container::-webkit-scrollbar{
    display: none;
  }
.statusbar_status{
    height: 200px;
    width: 110px;
    margin: 20px 5px;
    border-radius:15px;
}
.upload_icon{
    margin-top: 70px;
}
.statusbar_status > input {
    display: none;
}
.status_image{
    width: 113px;
    height: 200px;
    border-radius: 5px;
    
}