.upload_container{
    height: 120px;
    width: 600px;
    border-radius: 20px;
}
.upload_top{
    display: flex;
}
.upload_img{
    margin-top: 15px;
    margin-left: 15px;

}
.upload_box{
    height: 40px;
    width: 400px;
    font-size: 16px;
    border: 0px;
    background-color:#eff2f5;
    border-radius: 30px;
    padding-left: 20px;
    margin: 15px;


}
.upload_bottem{
    border-top: 1px solid #e3e6ea;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;


}
.upload_tabs{
    width: 150px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

    
}
.upload_text{
    margin: 5px;
    font-weight: #ffff;
}
.upload_tabs > input{
    display: none;
}
.upload_dialogbox{

}
.upload_button{
    margin: 20px 40px;
    background-color: #1B77f2;
    color: white;
    font-weight: 400;
    border: 0px;
    height: 40px;
    border-radius: 5px;
}
.upload_textbox{
    margin: 20px 40px;
    height: 40px;
    border: 0px;
}
.upload_preview{
    padding: 0px 40px;
}
.upload_header{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
